<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/month.css" />
  </head>
  <body>
    <!-- <div id="month-list-container">
      <table>
        <tr>
          <th>Date</th>
          <th>Sale</th>
        </tr>
        <% for(transaction of transactions){ %>
        <tr>
          <td><%=moment(transaction._id).format('DD-MM-YYYY')%></td>
          <td><%=transaction.sum%></td>
        </tr>
        <%} %>
      </table>
    </div> -->
    <div style="padding: 1rem; margin-right: 10rem">
      <canvas id="myChart" width="900" height="500"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
      const ctx = document.getElementById("myChart").getContext("2d");

      //----------------------------------------------------------------------
      let transactionsSum =
        "<%-transactions.map((transaction)=>transaction.sum)%>";
      // console.log(typeof transactionsSum);
      //console.log(transactionsSum);
      var finalarr = transactionsSum.split(",").map(Number);
      console.log(finalarr);
      //----------------------------------------------------------------------
      let transactionslabel =
        "<%-transactions.map((transaction)=>transaction._id)%>";
      //console.log(typeof transactionslabel);
      // console.log(transactionslabel);
      var finaltransactionslabel = transactionslabel.split(",").map(String);
      //console.log(finaltransactionslabel);

      //----------------------------------------------------------------------
      let transactionslabelday =
        "<%-transactions.map((transaction)=>(moment(transaction._id)))%>";
      console.log(transactionslabelday.split(","));
      var finaltransactionslabelday = transactionslabelday
        .split(",")
        .map(
          (daylabel) =>
            daylabel.split(" ")[0] +
            " " +
            daylabel.split(" ")[1] +
            " " +
            daylabel.split(" ")[2] +
            " " +
            daylabel.split(" ")[3]
        );
      console.log("here");
      console.log(finaltransactionslabelday);
      //------------------------------------------
      var myarr = [];
      var ps = finaltransactionslabelday[0].split(" ")[0];
      console.log(ps);

      for (let i = 0; i < transactionslabelday.length; i++) {
        if (finaltransactionslabelday[i]) {
          var ps = finaltransactionslabelday[i].split(" ")[0];
          if (ps === "Mon") {
            myarr.push("blue");
          } else if (ps == "Tue") {
            myarr.push("black");
          } else if (ps == "Wed") {
            myarr.push("blue");
          } else if (ps == "Thu") {
            myarr.push("blue");
          } else if (ps == "Fri") {
            myarr.push("blue");
          } else if (ps == "Sat") {
            myarr.push("blue");
          } else if (ps == "Sun") {
            myarr.push("red");
          }
        }
      }
      const datasets = [
        {
          label: "Total Sale by day",
          data: finalarr,
          backgroundColor: myarr,
          borderColor: "black",
          borderWidth: 1,
        },
      ];
      const myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: finaltransactionslabelday,
          datasets,
        },
        options: {
          tooltips: {
            enabled: true,
            titleFontSize: 50,
            bodyFontSize: 50,
          },
          hover: {
            animationDuration: 1,
          },
          scales: {
            xAxes: [
              {
                ticks: {
                  autoSkip: false,
                  fontSize: 15,
                  fontStyle: "bold",
                },
              },
            ],
            yAxes: [
              {
                ticks: {
                  fontSize: 10,
                },
              },
            ],
          },
          onClick: (e) => {
            const activePoints = myChart.getElementsAtEventForMode(
              e,
              "nearest",
              {
                intersect: true,
              },
              false
            );
            const [{ index }] = activePoints;
            console.log(e.target);

            // console.log(datasets[0].data[index]);
          },
        },
      });

      Chart.pluginService.register({
        afterDraw: function (chartInstance) {
          var ctx = chartInstance.chart.ctx;

          // render the value of the chart above the bar
          ctx.font = Chart.helpers.fontString(
            20,
            "normal",
            Chart.defaults.global.defaultFontFamily
          );
          ctx.textAlign = "center";
          ctx.textBaseline = "bottom";
          ctx.backgroundColor = "black";
          ctx.fillStyle = "black";

          chartInstance.data.datasets.forEach(function (dataset) {
            for (var i = 0; i < dataset.data.length; i++) {
              var model =
                dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
              ctx.fillText(dataset.data[i], model.x, model.y - 2);
            }
          });
        },
      });

      document.getElementById("myChart").onclick = function (evt) {
        var activePoints = myChart.getElementsAtEventForMode(
          evt,
          "point",
          myChart.options
        );
        var firstPoint = activePoints[0];
        var label = myChart.data.labels[firstPoint._index];
        var value =
          myChart.data.datasets[firstPoint._datasetIndex].data[
            firstPoint._index
          ];
        //  console.log(label + ":this is " + value);
        //Thu Mar 17 2022
        var conv = new Date(label);
        //console.log(conv);
        //console.log(conv.toLocaleString().split(",")[0]); //2022-03-16T18:30:00.000Z
        // we need 2022-04-16
        var temprep = conv.toLocaleString().split(",")[0].split("/");
        var rep = temprep[2] + "-" + temprep[1] + "-" + temprep[0];

        location.href = `/users/profile/${rep}`;
      };
    </script>
    <script>
      document.onkeypress = function (e) {
        e = e || window.event;
        if (e.keyCode === 109 || e.keyCode === 77) {
          location.href = "/";
        }
      };
    </script>
  </body>
</html>
