<link rel="stylesheet" href="/css/user_profile.css" />
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>jQuery UI Datepicker - Default functionality</title>
  <link
    rel="stylesheet"
    href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"
  />

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
    document.addEventListener(
      "keyup",
      (event) => {
        var name = event.key;
        var code = event.code;

        if (name == "z" || name == "Z") {
          document.getElementById("myButton").click();
        }
      },
      false
    );
    function myMount() {
      const { protocol, host, pathname } = window.location;
      console.log(pathname);
      //alert(pathname.substr(15));

      if (pathname.substr(15) === "") {
        document.getElementById("table-date").value = new Date()
          .toISOString()
          .substr(0, 10);
      } else {
        document.getElementById("table-date").value = pathname.substr(15);
      }
    }
    function datehandler(event) {
      // alert(event.target.value);
      var qd = event.target.value;
      location.href = `/users/profile/${qd}`;
    }
  </script>
</head>
<body onload="myMount()">
  <!-- <p>Date: <input type="text" id="datepicker" /></p> -->
  <!-- <button id="go" type="button" class="btn btn-danger">GO</button> -->
  <span style="margin-left: 3rem; display: block">Press Z to jump back</span>
  <input
    type="date"
    style="font-size: 5rem; margin: 3rem"
    id="table-date"
    onchange="datehandler(event)"
  />
  <br />
  <button
    onclick="location.href = '/';"
    id="myButton"
    class="float-left submit-button"
    style="display: none"
  >
    BACK
  </button>

  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: red;
      border: solid;
      font-weight: 1000;
      background: floralwhite;
    "
  >
    <p>Todays total Sale <%=todaysSale%></p>
    <p>Todays total GST(5%) <%=todayschotagst%></p>
    <p>Todays total GST(12%) <%=todaysbadagst%></p>
  </div>

  <div id="posts-list-container">
    <table>
      <tr>
        <th>Time</th>
        <th>Number</th>
        <th>Net Price</th>
        <th>Items</th>
        <th>Transaction Type</th>
        <th>CGST(2.5%)</th>
        <th>SGST(2.5%)</th>
        <th>CGST(6%)</th>
        <th>SGST(6%)</th>
        <th>Info</th>
        <th>Delete</th>
      </tr>
      <% for(transaction of transactions){ %>
      <tr>
        <td>
          <%=moment(transaction.createdAt).add(19800,
          'seconds').format('DD-MM-YYYY: hh:mm')%>
        </td>
        <td><%=transaction.transactionNumber%></td>
        <td><%=transaction.netPrice%></td>
        <td>
          <% for(purc of transaction.purchases) {%>
          <li>
            <%=purc.itemName%> <%=purc.itemQuantity%> <%=purc.itemTotalPrice%>
          </li>
          <%} %>
        </td>
        <td><%=transaction.transactionType%></td>

        <td><%=((transaction.gstAsPerfive)/2).toFixed(2)%></td>
        <td><%=((transaction.gstAsPerfive)/2).toFixed(2)%></td>
        <td><%=((transaction.gstAsPertwel)/2).toFixed(2)%></td>
        <td><%=((transaction.gstAsPertwel)/2).toFixed(2)%></td>

        <td><%=transaction.remarks%></td>
        <td>
          <a href="/users/pop/<%=transaction.id%>">Delete</a>
        </td>
      </tr>
      <%} %>
    </table>
  </div>
</body>
